<html>
        <head>
            <title>App</title>
            <link rel="stylesheet" type="text/css" href="/static/style.css">
            <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />
            <script src='/static/plotly-2.35.2.min.js'></script>
        </head>
        <body>
            <!--<img src="static/test.jpg" />-->
            <div> <a href="/main">Main menu</a> </div><br><br>
		
		{% block content %}{% endblock %}
		
		</body>
    </html>