{% extends "loginbase.html" %}

{% block content %}
<div class="login-container">
    <h1>Register New Account</h1>
    <div class="error_text">
        {% if obj.errors | length > 0 %}
            {% for error in obj.errors  %}
                <div>{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <form action="register?action=insert" method="POST">
            Username:<br>
            <input type="text" name="username" value="{{obj.data[0].username}}" />
            <br>

            Email:<br>
            <input type="text" name="email" value="{{ obj.data[0].email }}" />
            <br>

            Password:<br>
            <input type="password" name="password" value="" />
            <br>

            Retype Password:<br>
            <input type="password" name="password2" value="" />
            <br>
            <br>
            <input type="submit" value="Register" />
        </form>
        <br>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</div>
{% endblock %}
